@font-face {
	font-family: 'Verlag-Book';
	src:url('../../fonts/Verlag-Book/Verlag-Book.otf') format("opentype");
	src:url('../../fonts/Verlag-Book/Verlag-Book.eot?d7yf1v');
	src:url('../../fonts/Verlag-Book/Verlag-Book.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../../fonts/Verlag-Book/Verlag-Book.woff?d7yf1v') format('woff'),
		url('../../fonts/Verlag-Book/Verlag-Book.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Slim-Joe';
	src:url('../../fonts/Slim-Joe/Slim-Joe.eot?d7yf1v');
	src:url('../../fonts/Slim-Joe/Slim-Joe.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../../fonts/Slim-Joe/Slim-Joe.woff?d7yf1v') format('woff'),
		url('../../fonts/Slim-Joe/Slim-Joe.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wild-Youth';
	src: url('../../fonts/Wild-Youth/Wild-Youth.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lemon-Milklight';
	src: url('../../fonts/Lemon-Milklight/Lemon-Milklight.otf?d7yf1v') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silicia';
	src:url('../../fonts/Silicia/Silicia.eot?d7yf1v');
	src:url('../../fonts/Silicia/Silicia.woff?d7yf1v') format('woff'),
		url('../../fonts/Silicia/Silicia.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Next-Eng';
	src: url('../../fonts/Avenir-Next/Avenir-Next-Eng.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Next-Ru';
	src: url('../../fonts/Avenir-Next/Avenir-Next-Ru.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}